.header {
    grid-area: h;
    background-color: beige;
}

.header img {
    width: 100px;
    margin: -10px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: darkcyan;
    font-weight: bold;
    padding: 10px;
}